@charset "ISO-8859-1";

body {
	background-image: url("https://storage.cloud.google.com/gameshup.appspot.com/teemo.jpeg?authuser=1");
	 width:100%;
	  height:100%;
	  }

     
}
 #div2{
	color: #000;
	background-color: #fff;
}

#div3{
	color: Gray;
	background-color: #fff;
}
#div4{
	color: #fff;
	background-color: #fff;
}


#div5{
	
	align:centre;
	color: #fff;
}


#div6{
	
	
	align:centre;
}