@charset "ISO-8859-1";

body {
	background-image: url("https://storage.cloud.google.com/gameshup.appspot.com/lol/fondomuestralol1.jpg?authuser=1");
	width: 100%;
	height: 100%;
}

.collapsiblewin {
	background-color: #a3cfee82;
	color: white;
	cursor: pointer;
	margin-right: 25%;
	margin-left: 25%;
	padding: 18px;
	border: 1px solid #2e779c;
	width: 50%;
	text-align: left;
	font-size: 15px;
	outline: none !important;
	outline-width: 0 !important;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
}

.collapsiblelost {
	background-color: #ff978e82;
	color: white;
	cursor: pointer;
	margin-right: 25%;
	margin-left: 25%;
	padding: 18px;
	width: 50%;
	border: 0.5px solid #f37368c2;
	text-align: left;
	outline: none !important; outline-width : 0 !important; box-shadow :
	none; -moz-box-shadow : none; -webkit-box-shadow : none;
	font-size: 15px;
	outline-width: 0 !important;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
}

.collapsiblewin:hover {
	background-color: #6DB9EBdb;
}

.collapsiblewin:after {
	content: url(https://storage.cloud.google.com/gameshup.appspot.com/icons/sd.png?authuser=1);
	color: white;
	margin-top: 5%;
	font-weight: bold;
	float: right;
	margin-left: 2px;
}

.collapsiblelost:hover {
	background-color: #ff978edb;
}

.collapsiblelost:after {
	content: url(https://storage.cloud.google.com/gameshup.appspot.com/icons/sd.png?authuser=1);
	color: white;
	margin-top: 5%;
	font-weight: bold;
	float: right;
	margin-left: 2px;
}

.active:after {
	content: url(https://storage.cloud.google.com/gameshup.appspot.com/icons/sdreverse.png?authuser=1);
}

.content {
	width: 50%;
	margin-right: 25%;
	margin-left: 25%;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
	background-color: #f1f1f196;
}

.prueba {
	display: inline-block;
}

.contentdiv {
	padding-top: 20px;
	margin-left: 6%;
	display: inline-block;
	vertical-align: top;
	width: 180px;
}

.spellsdiv {
	display: inline-block;
}
.iniciodiv {
	display: inline-block;
	margin-top:2%;
	vertical-align: middle;
}

.textocont {
	padding-bottom: 20px;
}

#tabla {
	margin-top: 30px;
	margin-bottom: 100px;
}

.imgspell {
	border-radius: 6px;
	background: #00000059;
}

.imghechizos {
	border-radius: 6px;
	margin-left: 5px;
}