@charset "ISO-8859-1";
body {
	background-image: url("/img/droprojo.png");
	
	 width:100%;
	  height:100%;}
#forp {
  position: absolute;
  left: 0;
  top: 50%;
  font-size: 18px;
   margin-left: 25%;
   margin-right: 25%;
   margin-top: 50px;
   
}

#logopubg {
	
	 width:50%;
	 height:50%;
	 margin-left: 25%;
  	 margin-right: 25%;
}

#divlp {
	justify-content: center;
	aling-items: center;
	
}

#errorp {
	justify-content: center;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 25%;
	margin-right: 25%;
	
}